ul li{
  list-style: none;
}

.productContainer{
  background-color: rgba(#0a9f82, 0.9);
  margin:50px;
  padding: 50px;
}
.back-acount{
  margin-bottom: 50px;
}
.products{
  margin: 100px;
}

.arrowPage{

  margin-top: 70%;

}
.special-foot{
  height: 10%;
}

@media (max-width: 600px) {
  .carousel-item{
    margin-top:17% !important;
  }
  .arrowPage{
    position: absolute;
    left: 32%;
    top: 50%;

  }
  .card-deck{
    margin-left: 45px !important;
    margin-top: 100px !important;
  }

}

@media (min-width: 600px) {
  .arrowPage{
    position: absolute;
    left: 40%;
    top: 20%;

  }

}
